<section class="block container domain">
  <div class="block__header">
    <h2>The best webhosting starting per month</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
      voluptatibus neque officiis praesentium. Facilis dolorem natus esse!
      Possimus, deleniti non.
    </p>
  </div>
  <div class="input-group">
    <input class="input" type="text" placeholder="Enter domain name here..." />
    <button class="btn btn--accent">
      <svg class="icon icon--primary icon--small">
        <use xlink:href="images/sprite.svg#search"></use></svg
      >Search
    </button>
  </div>
  <ul class="list domain__prices">
    <li>9$ .com</li>
    <li><span class="badge badge-secondary">9$ .com</span></li>
    <li>9$ .com</li>
    <li>9$ .com</li>
    <li>9$ .com</li>
    <li>9$ .com</li>
  </ul>
</section>
