<div class="block block--left-skewed container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore omnis
      repellendus explicabo delectus officiis voluptas vero ad? Quaerat, ut
      distinctio?
    </p>
  </header>
</div>
<div class="block block--dark block--right-skewed">
  <header class="block__header block--left-skewed container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore omnis
      repellendus explicabo delectus officiis voluptas vero ad? Quaerat, ut
      distinctio?
    </p>
  </header>
</div>
